// CONTAINERS
// ==============================

.container{
    box-sizing: border-box;
    padding: 0;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

.container-fluid{
    width: 100%;
}
