h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p{
    color: #000;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
}

h1, .h1 {
    font-size: 36px;
    margin-bottom: 48px;
}
h2, .h2{
    font-size: 24px;
    margin-bottom: 32px;
}
h3, .h3{
    font-size: 18px;
    margin-bottom: 24px;
}
h4, .h4{
    font-size: 16px;
    margin-bottom: 16px;
}
h5, .h5{
    font-size: 16px;
    margin-bottom: 16px;
}
h6, .h6{
    font-size: 16px;
    margin-bottom: 16px;
}

p{
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 16px;
}

a:hover{
    color: #3867b3;
    transition: 0.2s;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

img{
    max-width: 100%;
}

.page-content {
    ul {
        li {
            list-style-type: disc;
            margin-left: 16px;
            margin-bottom: 8px;
        }
    }
}

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;
        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype');
    }
}
