// VARIABLES
// ==============================

$col-count: 12 !default;
$col-spacing: 30px !default;
$row-spacing: 10px !default;

$bg-xs: 0px !default;
$bp-small: 576px !default;
$bp-medium: 768px !default;
$bp-large: 992px !default;
$bp-xlarge: 1200px !default;
$bp-xxlarge: 1400px !default;

$container-sm: 540px !default;
$container-md: 720px !default;
$container-lg: 960px !default;
$container-xl: 1140px !default;
$container-xxl: 1320px !default;
 